PORT=3000
DB=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/hay-reta?retryWrites=true&w=majority
SECRET=replace-me
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,https://your-netlify-site.netlify.app
CLOUDINARY_NAME=replace-me
CLOUDINARY_KEY=replace-me
CLOUDINARY_SECRET=replace-me
