.login-div {
    height: 95vh;
    background-color:rgb(45, 46, 45) ;
    filter: grayscale(50%);
  }
  
  
  
  .signup {
    height: 95vh;
     /* background-color:rgb(45, 46, 45) ; */ 
    /* background-size: 100% 100%; */
    /* filter: grayscale(50%);  */
  }
  
  
  .navBar{
   width: 100vw;
   height: 8vh;
   padding: 20px;
   /* box-sizing: border-box; */
  }


  .navBar a {
    padding: 5px 5px 5px 10px;
    color: rgb(3, 214, 39);
    text-decoration: none;
  }
  .navBar a.navbar-active {
    color: blue;
  }
  .navBar button {
    background: none;
    border: none;
    color: red;
    padding: 5px 5px 5px 10px;
  }


  .swal2-actions button{
    border-radius: 45px !important;
    background: rgb(3, 214, 39) !important;
    color: black !important;
  }
  
  .swal2-popup{
    background: rgba(0, 0, 0, 0.863) !important;
  
  }
  .swal2-success-circular-line-left, .swal2-success-circular-line-right, .swal2-success-fix{
    background: rgba(0, 0, 0, 0) !important;
  }
  
  .swal2-title, .swal2-content{
    color: white !important;
  }
  
  
  
  .login-div form,
  .signup-div form {
    background: rgba(0, 0, 0, 0.788);
    width: 35%;
  }
  
  .login-div button,
  .signup-div button {
    border-radius: 45px;
    padding-left: 15%;
    padding-right: 15%;
    background: rgb(3, 214, 39);
    color: black;
  }
  
  .login-div button:hover,
  .signup-div button:hover {
    background: rgb(38, 199, 65);
    color: black;
  }
  
  @media (max-width: 768px) {
    .login-div form,
    .signup-div form {
      width: 90%;
    }
  }
  
  .navbars{
    color: rgb(3, 214, 39);
  }
  


.eventos-div{
    background: rgb(128, 128, 128);
    margin: 2% 0 ;
    padding: 2%;
    border: green;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 13px -6px rgba(38,66,5,1);
-moz-box-shadow: 10px 10px 13px -6px rgba(38,66,5,1);
box-shadow: 10px 10px 13px -6px rgba(38,66,5,1);
}

.eventImage{
    width: 40vh;
    height: 40vh;
}

.backgroundCard{
    background: rgba(37, 37, 37, 0.849);
    height: 100vh;

}
.backgroundCard h1{
    color: white;
}

.backgroundCard button{
    margin-left: 40%;
}


.map{
    display: flex;
    flex-direction: column;
}
.mapboxgl-canvas{
    margin-left:27%;
    margin-top:1.5%
}

.mapboxgl-ctrl-geocoder--pin-right{
    display: none;
}
.mapboxgl-ctrl-attrib-inner{
    display: none;
}

.mapboxgl-ctrl-geocoder--input{
    width: 50vh;
}

.ant-row .ant-form-item{
    margin-bottom: 0em;
}

.mapcontainer .mapboxgl-ctrl-geocoder--input{
display: none;
}
.mapboxgl-ctrl-geocoder--icon {
    display: none;
    }


.backgroundprofile{
    background-color:rgb(45, 46, 45) ;
    width: auto;
    height: 100% !important;
}

Link{
    padding-top: 60px;
}

.event-button {
    background: rgb(26, 167, 26);
    padding: 2% 5%;
    color: white;
    border-radius: 45px;
    -webkit-box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
  }

  .sing-button {
    background: rgb(26, 167, 26);
    padding: 1% 2%;
    color: white;
    border-radius: 45px;
    -webkit-box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
  }
  
  .event-buttondelete {
    background: rgb(167, 26, 33);
    padding: 2% 5%;
    color: white;
    border-radius: 45px;
    -webkit-box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
  }
  

  .event-button:hover {
    background: rgb(10, 132, 148);
    padding: 2% 5%;
    color: white;
    border-radius: 45px;
  }
  

  .event-fondo {

    background: rgb(17, 226, 218);
    background: linear-gradient(
      0deg,
      rgba(17, 226, 218, 0.8029586834733894) 0%,
      rgba(141, 27, 224, 0.9374124649859944) 36%,
      rgba(0, 0, 0, 0.8113620448179272) 100%
    );
    padding: 5% 0;
  }
  
  .detalle-perfil-div {
    background: rgba(199, 198, 198, 0.829);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 11px 0px rgba(190, 234, 237, 1);
    -moz-box-shadow: 10px 10px 11px 0px rgba(190, 234, 237, 1);
    box-shadow: 10px 10px 11px 0px rgba(190, 234, 237, 1);
    padding: 2% 0;
    width: 80vh;
  }
  
  .detalle-perfil-div img {
    border-radius: 50%;
    width: 60%;
    padding: 5%;
  }
  

  
  .titulo-mis-eventos {
    font-size: 3vw;
    color: aliceblue;
    background: rgba(0, 255, 255, 0.514);
    font-weight: bolder;
  }
  

  
  .detalle-evento-privado-div {
    background: rgba(37, 37, 37, 0.849);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 11px 0px rgba(180, 176, 207, 1);
    -moz-box-shadow: 10px 10px 11px 0px rgba(180, 176, 207, 1);
    box-shadow: 10px 10px 11px 0px rgba(180, 176, 207, 1);
    padding: 2% 0;
  }
  
  .evento-privado-img {
    width: 100%;
    padding: 5%;
    border-radius: 50px;
  }
  

  
  .evento-detalle-fondo {
    background: rgba(37, 37, 37, 0.849)
  }

  .div-comentario{
    background: rgb(10, 145, 179);
    padding: 2% 0;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 11px 0px rgb(141, 163, 165);
    -moz-box-shadow: 10px 10px 11px 0px rgb(141, 163, 165);
    box-shadow: 10px 10px 11px 0px rgb(141, 163, 165);
  }

  .backgroundEvents{
    background: rgba(37, 37, 37, 0.849);
  }
  
  #content{
    color: white;
    font-size: 20px;
    padding-top: 4%;
  }.mu-div-home {


    /* background: url("../src/img/home1.jpg"); */
    background: url("../img/home1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: grayscale(50%);
  }
  
  .mu-div-home div {
    padding: 25% 0;
    vertical-align: middle;
  }
  .mu-div-home h1 {
    color: rgb(38, 199, 65);
    font-weight: bolder;
    font-size: 4vw;
    -webkit-text-stroke: 0.5px red;
    text-shadow: 2px 2px 5px red;
  }
  
  .mu-div-home button {
    border-radius: 45px;
    padding-left: 5%;
    padding-right: 5%;
    background: rgb(3, 214, 39);
    color: red;
  }
  
  .mu-div-home button:hover {
    background: rgb(38, 199, 65);
    color: blue;
  }
  
  .mu-div-row1 img {
    width: 100%;
    height: 100%;
  }
  
  .mu-div-row2 {
    background: black;
  }
  
  .mu-div-row2 img {
    border-radius: 50%;
    width: 60%;
    height: 60%;
  }
  .event-button {
    background: rgb(26, 167, 26);
    padding: 2% 5%;
    color: white;
    border-radius: 45px;
    -webkit-box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
  }
  .event-button:hover {
    background: rgb(10, 132, 148);
    padding: 2% 5%;
    color: white;
    border-radius: 45px;
  }

  .profile-fondo {
    
    background: red;
    background-color:rgb(45, 46, 45) ;
    padding: 10% 0 62vh 0;;
  }
  .detalle-perfil-div {
    background: rgba(199, 198, 198, 0.829);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 11px 0px red;
    -moz-box-shadow: 10px 10px 11px 0px red;
    box-shadow: 10px 10px 11px 0px red;
    padding: 5% 0;
    width: 160vh;
  }
  .detalle-perfil-div img {
    border-radius: 50%;
    width: 80%;
    padding: 5%;
  }

  .titulo-mis-eventos {
    font-size: 3vw;
    color: rgb(38, 199, 65);
    background: rgba(170, 57, 57, 0.514);
    font-weight: bolder;
  }

  .detalle-evento-privado-div {
    background: rgba(37, 37, 37, 0.849);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 11px 0px rgba(180, 176, 207, 1);
    -moz-box-shadow: 10px 10px 11px 0px rgba(180, 176, 207, 1);
    box-shadow: 10px 10px 11px 0px rgba(180, 176, 207, 1);
    padding: 2% 0;
  }
  .evento-privado-img {
    width: 100%;
    padding: 5%;
    border-radius: 50px;
  }
  
  .backgroundprofile{
    background: rgba(37, 37, 37, 0.849);
    padding: 0 0 60vh 0;
  }
  .backgroundprofile h1{
    color: white;
    padding-left: 10vh;
    padding-top: 5%;
    margin-bottom: 10%;
  }

  h2{
    color: white;

  }
  h3{
    color: white;
    padding-left: 10vh;

  }

  .backgroundprofile Button{
    margin-left: 40%;
  }


  @media (max-width: 768px) {

    .detalle-perfil-div {
      width: 45vh;
      margin-bottom: 3vh;
    }
    .detalle-perfil-div img {
      border-radius: 50%;
      width: 80%;
      padding: 5%;
    }

  }