

.login-div {
  height: 95vh;
  background-color:rgb(45, 46, 45) ;
  filter: grayscale(50%);
}



.signup-div {
  height: 95vh;
  background-color:rgb(45, 46, 45) ;
  background-size: 100% 100%;
  filter: grayscale(50%);
}



.swal2-actions button{
  border-radius: 45px !important;
  background: rgb(3, 214, 39) !important;
  color: black !important;
}

.swal2-popup{
  background: rgba(0, 0, 0, 0.863) !important;

}
.swal2-success-circular-line-left, .swal2-success-circular-line-right, .swal2-success-fix{
  background: rgba(0, 0, 0, 0) !important;
}

.swal2-title, .swal2-content{
  color: white !important;
}



.login-div form,
.signup-div form {
  background: rgba(0, 0, 0, 0.788);
  width: 35%;
}

.login-div button,
.signup-div button {
  border-radius: 45px;
  padding-left: 15%;
  padding-right: 15%;
  background: rgb(3, 214, 39);
  color: black;
}

.login-div button:hover,
.signup-div button:hover {
  background: rgb(38, 199, 65);
  color: black;
}

@media (max-width: 768px) {
  .login-div form,
  .signup-div form {
    width: 90%;
  }
}

.navbars{
  color: rgb(3, 214, 39);
}
