

.eventos-div{
    background: rgb(128, 128, 128);
    margin: 2% 0 ;
    padding: 2%;
    border: green;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 13px -6px rgba(38,66,5,1);
-moz-box-shadow: 10px 10px 13px -6px rgba(38,66,5,1);
box-shadow: 10px 10px 13px -6px rgba(38,66,5,1);
}

.eventImage{
    width: 40vh;
    height: 40vh;
}

.backgroundCard{
    background: rgba(37, 37, 37, 0.849);
    height: 100vh;

}
.backgroundCard h1{
    color: white;
}

.backgroundCard button{
    margin-left: 40%;
}


.map{
    display: flex;
    flex-direction: column;
}
.mapboxgl-canvas{
    margin-left:27%;
    margin-top:1.5%
}

.mapboxgl-ctrl-geocoder--pin-right{
    display: none;
}
.mapboxgl-ctrl-attrib-inner{
    display: none;
}

.mapboxgl-ctrl-geocoder--input{
    width: 50vh;
}

.ant-row .ant-form-item{
    margin-bottom: 0em;
}

/* .mapcontainer {
.mapboxgl-ctrl-geocoder--input{
display: none;
} */
.mapboxgl-ctrl-geocoder--icon {
    display: none;
    }
/* } */

.backgroundprofile{
    background-color:rgb(45, 46, 45) ;
    width: auto;
    height: 100% !important;
}


