.event-button {
    background: rgb(26, 167, 26);
    padding: 2% 5%;
    color: white;
    border-radius: 45px;
    -webkit-box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
  }
  
  .event-button:hover {
    background: rgb(10, 132, 148);
    padding: 2% 5%;
    color: white;
    border-radius: 45px;
  }
  

  .event-fondo {

    background: rgb(17, 226, 218);
    background: linear-gradient(
      0deg,
      rgba(17, 226, 218, 0.8029586834733894) 0%,
      rgba(141, 27, 224, 0.9374124649859944) 36%,
      rgba(0, 0, 0, 0.8113620448179272) 100%
    );
    padding: 5% 0;
  }
  
  .detalle-perfil-div {
    background: rgba(199, 198, 198, 0.829);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 11px 0px rgba(190, 234, 237, 1);
    -moz-box-shadow: 10px 10px 11px 0px rgba(190, 234, 237, 1);
    box-shadow: 10px 10px 11px 0px rgba(190, 234, 237, 1);
    padding: 2% 0;
    width: 80vh;
  }
  
  .detalle-perfil-div img {
    border-radius: 50%;
    width: 60%;
    padding: 5%;
  }
  

  
  .titulo-mis-eventos {
    font-size: 3vw;
    color: aliceblue;
    background: rgba(0, 255, 255, 0.514);
    font-weight: bolder;
  }
  

  
  .detalle-evento-privado-div {
    background: rgba(37, 37, 37, 0.849);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 11px 0px rgba(180, 176, 207, 1);
    -moz-box-shadow: 10px 10px 11px 0px rgba(180, 176, 207, 1);
    box-shadow: 10px 10px 11px 0px rgba(180, 176, 207, 1);
    padding: 2% 0;
  }
  
  .evento-privado-img {
    width: 100%;
    padding: 5%;
    border-radius: 50px;
  }
  

  
  .evento-detalle-fondo {
    background: rgba(37, 37, 37, 0.849)
  }

  .div-comentario{
    background: rgb(10, 145, 179);
    padding: 2% 0;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 11px 0px rgb(141, 163, 165);
    -moz-box-shadow: 10px 10px 11px 0px rgb(141, 163, 165);
    box-shadow: 10px 10px 11px 0px rgb(141, 163, 165);
  }

  .backgroundEvents{
    background: rgba(37, 37, 37, 0.849);
  }
  