.event-button {
    background: rgb(26, 167, 26);
    padding: 2% 5%;
    color: white;
    border-radius: 45px;
    -webkit-box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 1);
  }
  .event-button:hover {
    background: rgb(10, 132, 148);
    padding: 2% 5%;
    color: white;
    border-radius: 45px;
  }

  .profile-fondo {
    
    background: red;
    background-color:rgb(45, 46, 45) ;
    padding: 10% 0 62vh 0;;
  }
  .detalle-perfil-div {
    background: rgba(199, 198, 198, 0.829);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 11px 0px red;
    -moz-box-shadow: 10px 10px 11px 0px red;
    box-shadow: 10px 10px 11px 0px red;
    padding: 5% 0;
    width: 160vh;
  }
  .detalle-perfil-div img {
    border-radius: 50%;
    width: 80%;
    padding: 5%;
  }

  .titulo-mis-eventos {
    font-size: 3vw;
    color: rgb(38, 199, 65);
    background: rgba(170, 57, 57, 0.514);
    font-weight: bolder;
  }

  .detalle-evento-privado-div {
    background: rgba(37, 37, 37, 0.849);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 11px 0px rgba(180, 176, 207, 1);
    -moz-box-shadow: 10px 10px 11px 0px rgba(180, 176, 207, 1);
    box-shadow: 10px 10px 11px 0px rgba(180, 176, 207, 1);
    padding: 2% 0;
  }
  .evento-privado-img {
    width: 100%;
    padding: 5%;
    border-radius: 50px;
  }
  
  .backgroundprofile{
    background: rgba(37, 37, 37, 0.849);
    padding: 0 0 60vh 0;
  }
  .backgroundprofile h1{
    color: white;
    padding-left: 10vh;
    padding-top: 5%;
    margin-bottom: 10%;
  }

  .backgroundprofile Button{
    margin-left: 40%;
  }


  @media (max-width: 768px) {

    .detalle-perfil-div {
      width: 45vh;
      margin-bottom: 3vh;
    }
    .detalle-perfil-div img {
      border-radius: 50%;
      width: 80%;
      padding: 5%;
    }

  }